.form-container {
  min-width: 22rem;
  margin-bottom: 20px;
  margin-right: 1.5rem;
  border: 1px solid #990000;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.6);
}
.form {
  padding: 1rem;
}

.header {
  background-color: #990000;
  padding: 1rem;
  color: white;
  width: 100%;
}

.header h1 {
  margin: 0;
}

label,
input {
  display: block;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

label {
  margin-bottom: 5px;
  margin-left: 5px;
}

input:focus {
  transform: scale(1.03);
  /* outline: none; */
}

label:focus {
  transition: all 0.2s ease;
}

input {
  margin-bottom: 20px;
  font-size: 16px;
  width: 70%;
  height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 20px;
  border: 1px solid black;
  width: 100%;
  transition: all 0.2s ease;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

button:hover {
  background-color: #01426a;
  transition: ease all 0.5s;
}

button:active {
  transform: scale(0.9);
}

button {
  margin-bottom: 20px;
  cursor: pointer;
  border: 1px solid #006298;
  padding: 0.5rem;
  border-radius: 5px;
  width: 45%;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: white;
  background-color: #006298;
}

#addClass {
  cursor: pointer;
  color: green;
  margin-left: 45%;
  transform: ease all 0.5s;
}

#deleteClass {
  color: red;
  cursor: pointer;
  transition: ease all 0.5s;
}

i {
  padding: 5px;
  border-radius: 5px;
}

#addClass:hover > i,
#deleteClass:hover > i {
  background-color: #edebeb;
}
